{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "plugin:compat/recommended", "plugin:react-hooks/recommended"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".jsx"] }],
    "react-hooks/rules-of-hooks": 2,
    "react-hooks/exhaustive-deps": 1,
    "react/jsx-uses-react": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-props-no-spreading": 0,
    "react/forbid-prop-types": 0,
    "comma-dangle": [1, "always-multiline"],
    "eol-last": [2, "always"],
    "import/no-unresolved": [2, { "ignore": ["^@"] }],
    "import/prefer-default-export": 0,
    "quotes": [1, "single"],
    "semi": 0,
    "jsx-quotes": [1, "prefer-single"],
    "object-curly-newline": 0,
    "import/no-extraneous-dependencies": 0
  }
}
